{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Basket' %}
{% endblock title %}

{% block context %}
<div class="table">
	{% include 'basketapp/includes/basket_list.html' %}
	<div class="table_row">
		<div class="table_col">
			{% trans 'Total' %}
		</div>
		<div class="table_col">
			{{ object_list|length }}
		</div>
		<div class="table_col">
			{{ total_quantity }}
		</div>
		<div class="table_col">
			{{ total_sum }}
		</div>
	</div>
</div>
<form class="buy" action="#" method="#">
		{% csrf_token %}
		{{ form }}
		<input class="button_link" type="submit" value="{% trans 'Buy' %}">
</form>
{% endblock context %}