{% load staticfiles %}
{% load to_num %}
{% load i18n %}

<div class="table_row">
	{% for word in headlines %}
		<div class="table_col">
			<p>{{ word }}</p>
		</div>
	{% endfor %}
</div>
{% for item in object_list %}
	<div class="table_row">
		<div class="table_col">
			<p>{{ item.product.brand }}</p>
			<p>{{ item.product.name }}</p>
		</div>
		<div class="table_col"><img src="{{ item.product.image.url }}" alt="{{ item.product.brand }}"></div>
		<div class="table_col">
			<div class="quant">
				<input type="number" name="quantity" min="0" max="20" value="{{ item.quantity }}">
				<form class="delete_item" action="{% url 'basketapp:remove' item.id %}" method="post">
						{% csrf_token %}
						{{ form }}
						<input class="button_link" type="submit" value="{% trans 'Delete item' %}">
				</form>
			</div>
		</div>
		<div class="table_col">{{ item.product.price|to_num }}</div>
	</div>
{% endfor %}