{% load staticfiles %}
{% load i18n %}

<div class="orders">
	{% if counter != 0 %}
		<h3>{% trans 'Your orders' %}</h3>
		{% for order in orders %}
			<div class="basket_row order">
				<p>{% trans 'Order ID ' %}{{ order.id }}</p>
				<a class="button_link" href="{% url 'basketapp:basket' order.id %}">{% trans 'Order info' %}</a>
				<form class="prod_delete_form" action="{% url 'basketapp:delete' order.id %}" method="post">
		            {% csrf_token %}
					<input class="button_link" type="submit" value="{% trans 'Delete order' %}">
	        	</form>
			</div>
		{% endfor %}
	{% else %}
		<div class="no_orders">
			<div class="note">
				<p>You have not orders at this moment<p>
				<p>To create order go to catalogue, choose product and push "Add to basket" button<p>
				<p>Order will be created immediately and product will be added to basket<p>
			</div>
			<a class="button_link" href="{% url 'shopapp:catalogue' %}">{% trans 'Go to catalogue' %}</a>
		</div>
	{% endif %}
</div>