@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/RobotoCondensed-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
}

.button_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 5px;
    background-color: #323334;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    border: none;
}

.button_link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button_link:active {
    box-shadow: none;
}



.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    scroll: auto;
    /*min-height: 100vh;*/
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;
    min-height: 140px;
    justify-content: space-between;
    align-items: center;
    background-color: #323334;
}


.header a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.header ul {
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-left: 20px;
}

.header a:hover {
    color: #A188C3;
}

.empty_block {
    min-width: 50px;
}

.log_menu {
    display: flex;
    flex-direction: column;
}

.left_box {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-around;
    margin-left: 20px;
}

.left_box .text {
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.left_box img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.basket {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 150px;
}

.basket a:first-child {
    margin-bottom: 5px;
}

.basket a:last-child {
    margin-top: 5px;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products img {
    margin: 10px;
    /*max-width: 40%;*/
    /*height: auto;*/
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    min-height: 70px;
    background-color: #323334;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%;
}


.icon_links {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}

.icon_links a {
    color: aliceblue;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.icon_links a:hover {
    color: #A188C3;
}

.terms {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms a {
    color: aliceblue;
    text-decoration: none;
}

.terms a:hover {
    color: #A188C3;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 50px;
    background-color: #686868;
    margin-bottom: 5px;
}

.category a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.category ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    min-width: 220px;
    justify-content: space-between;
}

.category a:hover {
    color: #A188C3;
}

.catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue a {
    display: flex;
    margin: 10px;
}

.catalogue a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.catalogue div {
    display: flex;
    flex-direction: row;
}

.catalogue .block {
    display: flex;
    flex-direction: column;
}

.catalogue .block p {
    margin-left: 10px;
}

.catalogue .block span{
    font-weight: bold;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.contacts h1 {
    padding-bottom: 10px;
}

.contacts input[type="text"],input[type="email"] {
    width: 340px;
    height: 30px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}


.contacts select {
    width: 356px;
    height: 30px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.contacts textarea {
    width: 350px;
    margin: 10px 0px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.contacts textarea:focus {
    border-style: solid;
    border-color:cornflowerblue;  
}

.submit {
    display: flex;
    width: 356px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.product {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sneakers {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
}

.sneakers img {
    /*max-width: 40%;*/
    /*height: auto;*/
}

.forms {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.forms input {
    font-size: 16px;
}

.desc h4, p {
    padding: 5px 0px;
}

.desc {
    margin-left: 30px;
}

.quantity {
    height: 30px;
    width: 100px;
    margin-left: 5px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 40px;
    flex: 1;
}

.create_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-content: center;
}

.create_form input {
    margin-top: 10px;
}

.auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
}


.app_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.app_form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.app_form .login_input {
    width: 355px;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 340px;
    height: 30px;
    box-shadow: 0px 2px 6px 0px #8E8989;
}

.update_form {
    display: flex;
    flex-direction: row;
    min-width: 900px;
    justify-content: center;
    align-items: center;
}

.update_form .img_container {
    width: 420px;
    height: 420px;
    justify-content: center;
    padding-left: 10px;
}

.update_form img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-left: 40px;
}

.app_form {
    font-weight: 900;
    min-height: 500px;
    /*align-items: center;*/
}

.app_form input, select {
    font-weight: 700;
}

.app_form input[type="submit"] {
    width: 360px;
    height: 40px;
    font-size: 16px;
    align-self: center;
}

.app_form input {
    width: 355px;

}

.app_form input, select {
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.objects_images {
    display: flex;
    flex-direction: row;
    min-width: 740px;
    justify-content: space-between;
    margin-left: 40px;
}

.image_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_block a {
    display: flex;
    width: 170px;
    margin-left: 50px;
}

.objects_images .big_img_box {
    width: 420px;
    height: 326px;
    /*justify-content: center;*/
    padding-bottom: 10px;
}


.objects_images .small_img_box {
    width: 271px;
    height: 212px;
    padding-bottom: 10px;
}

.orders {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.basket_row {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
}

.basket_row a {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.basket_row .order {
     justify-content: center;
}

.table {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-between;
    /*align-items: center;*/
    font-weight: 900;
    padding-top: 20px;
}


.table .table_row:first-child {
    background-color: #686868;
    color: aliceblue;
}

.table .table_row:last-child {
    border-bottom: none;
    background-color: #686868;
    color: aliceblue;
}

.table_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #686868;
    min-width: 850px;
}

.table_row img {
    display: flex;
    /*width: 220px;*/
    width: 50%;
    height: auto;
}

.table_col {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quant input:first-child {
    margin-right: 5px;
    width: 95px;  
}

.quant input:last-child {
    width: 112px;
}

.buy {
    padding-top: 10px;
    padding-bottom: 20px;
}

.no_orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sneakers_box {
    display: flex;
    flex-direction: column;
}

.sneakers_box p {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
}
.similars {
    display: flex;
    flex-direction: rows;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.sim {
    width: 180px;
    height: 180px;
}

.sim img {
    width: 100%;
    height: 100%;
}

.similars a {
    display: flex;
}

.similars a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginate  {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
    /*min-width: 1800px;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.paginate a {
    display: flex;
    text-decoration: none;
    /*border: 2px solid black;*/
    margin: 0px;
    padding: 5px;
    background-color: #686868;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

.category a:hover {
    color: #A188C3;
}

.profile_update_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_update_box input {
    /*height: 30px;*/
    font-family: 'Roboto Condensed', sans-serif;
    width: 360px;
    height: 40px;
    font-size: 16px;
    align-self: center;
    font-weight: 700;
}

.upd_im {
    justify-content: center;
}
