{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Change user' %}
{% endblock title %}

{% block context %}
	<div class="update_form">
		<div class="profile_update_box">
			<form class="app_form" action="#" method="post" enctype="multipart/form-data">
			    {% csrf_token %}
			    {{ form }}
			    <input class="button_link" type="submit" value="Post">
			</form>
			<form action="{% url 'authapp:delete' object.id %}" method="post">
				{% csrf_token %}
				<input class="button_link" type="submit" value="{% trans 'Delete profile' %}">
			</form>
		</div>
		{% if user.avatar %}
			<div class="img_container">
				<img src="{{ user.avatar.url }}" alt="{% trans 'avatar' %}">
			</div>
		{% else %}
		{% endif %}
	</div>
{% endblock context %}