{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Delete user' %}
{% endblock title %}

{% block context %}
	<form class="create" action="#" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <p>{% trans Are you sure you want to delete "{{ object }}"? %}</p>
	    <input type="submit" value="Confirm">
	</form>
{% endblock context %'