{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Authorization' %}
{% endblock title %}

{% block context %}
    <div class="auth">
    	<a class="button_link" href="{% url 'authapp:login' %}">{% trans 'Log in' %}</a>
    	<a class="button_link" href="{% url 'authapp:registration' %}">{% trans 'Create profile' %}</a>
    </div>
{% endblock context %}