{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Catalogue' %}
{% endblock title %}

{% block category %}
	{% include 'shopapp/includes/categories.html' %}
{% endblock%}

{% block context %}
    {% if user.is_authenticated %}
    	<a class="button_link" href="{% url 'shopapp:add' %}">{% trans 'Add product' %}</a>
    {% else %}
    {% endif %}
    <div class="catalogue">
        {% include 'shopapp/includes/test_cycle.html' with groups=object_list %}
    {% if is_paginated %}
    <ul class="paginate">
	      <li><a href="{% if page_obj.has_previous %}?page=1{% endif %}">First Page</a></li>
	      <li><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous Page</a></li>
	      <li><a>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a></li>
	      <li><a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next Page</a></li>
	      <li><a href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% endif %}">Last Page</a></li>
    </ul>
{% endif %}
    </div>

{% endblock context %}
