'{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Create product' %}
{% endblock title %}

{% block context %}
    <div class="center">
        <form class="app_form" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input class="button_link" type="submit" value="{% trans 'Post' %}">
        </form>
        <img src="" alt="">
    </div>
{% endblock context %}
