{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Change product' %}
{% endblock title %}

{% block context %}
	<div class="update_form">
		<form class="app_form" action="#" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form }}
		    <input class="button_link" type="submit" value="Post">
		</form>
		<div class="objects_images">
			<div class="image_block">
				<div class="big_img_box">
					<img src="{{ object.big_image.url }}" alt="{% trans 'big_image' %}">
				</div>
				<a href="{% url 'shopapp:image' object.id 'big_image' %}" class="button_link">{% trans 'Change big image' %}</a>
			</div>
			<div class="image_block">
				<div class="small_img_box">
					<img src="{{ object.image.url }}" alt="{% trans 'image' %}">
				</div>
					<a href="{% url 'shopapp:image' object.id 'image' %}" class="button_link">{% trans 'Change small image' %}</a>
			</div>
		</div>
	</div>
{% endblock context %}