{% extends "basic.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Detail' %}
{% endblock title %}

{% block context %}
	<div class="update_form">
		<form class="app_form upd_im" action="#" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		    {{ widget }}
			<input class="button_link" type="submit" value="Post">
		</form>
		<div class="img_container">
			<img src="{{ image.url }}" alt="{{image.field.verbose_name}}">
		</div>
	</div>
{% endblock context %}