{% load staticfiles %}
{% load i18n %}

<div class="category">
		<ul>
			{% for category in categories %}
					<li><a href="{% url 'shopapp:category' category.id %}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
</div>