{% load staticfiles %}
{% load i18n %}


<div class="product">
    <div class="sneakers">
        <div class="sneakers_box">
            <img src="{{ object.big_image.url }}" alt="{{ object.name }}">
            <p>{% trans 'Similar products' %}</p>
            {% include 'shopapp/includes/similar_products.html' %}
        </div>
        <div class="desc">
            <h1>{{ object.brand }}</h1>
            <h4>{{ object.name }}</h4>
            <p>Sizes: 38-44</p>
            <div class="forms">
                <form class="add_to_basket" action="#" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="button_link" type="submit" value="{% trans 'Add to basket' %}">
                </form>
                <a href="{% url 'shopapp:update' object.id %}" class="button_link">{% trans 'Update product' %}</a>
                <form class="prod_delete_form" action="{% url 'shopapp:delete' object.id %}" method="post">
                    {% csrf_token %}
                    <input class="button_link" type="submit" value="{% trans 'Delete product' %}">
                </form>
            </div>
        </div>
    </div>
</div>
