{% load staticfiles %}
{% load i18n %}

<div class="block">
    <a href="{% url 'shopapp:product' product.id %}">
   	<img src="{{product.image.url}}" alt="{{product.brand.name}}"></a>
    <p><span>{{product.brand.name}}</span></p>
    <p>{{product.name}}</p>
</div>
