{% load staticfiles %}
{% load i18n %}

<div class="similars">
	{% for product in similar %}
		<div class="sim">
			<a href="{% url 'shopapp:product' product.id %}">
				<img src="{{ product.image.url }}" alt="{{ product.brand }}">
			</a>
		</div>
	{% endfor %}
</div>